body {
    background-color: #fff2f2;
}

.procarionte h1 {
    font-size: xxx-large;
    text-align: center;
    font-weight: bold;
    color: #779058;
}

.procarionte h2{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    color:  #779058;
}

section img{
   height: 40%;
   width: 30%;
   margin: 0 34.5vw 0 34.5vw;
}

.container {
    display: flex; /* Ativa o flexbox apenas para os blocos de texto */
    justify-content: space-between; /* Espaça os blocos uniformemente */
    flex-wrap: wrap; /* Permite que os blocos se movam para a linha seguinte se necessário */
    border-bottom: 2px solid #779058; /* Adiciona uma linha preta */
    padding-bottom: 30px; /* Espaçamento abaixo das imagens */
    margin-bottom: 10px; /* Espaçamento abaixo do contêiner */
}

.texto {
    background-color: #779058; /* Cor de fundo verde */
    color: #fff2f2; /* Cor do texto */
    padding: 15px; /* Espaçamento interno */
    margin: 10px; /* Margem entre os blocos */
    border-radius: 8px; /* Bordas arredondadas, opcional */
    flex: 1; /* Faz os blocos ocuparem espaço igual */
    max-width: 45%; /* Limita a largura máxima de cada bloco */
}

.texto ul {
    list-style-type: none; /* Remove a bolinha da lista */
    padding: 0; /* Remove o padding da lista */
}

.texto p {
    padding: 10px 0 0 0;
}

.procarionte button {
    border: none;
    font-weight: bold;
    border-radius: 20px;
    padding: 1vw 1vw 1vw 1vw;
    background-color: #779058;
    margin: 2vw 40vw 2vw 40vw;
    color: #fff2f2;
    cursor: pointer;
}

.procarionte a {
    text-decoration: none;
    color: #fff2f2;
}

footer {
    background-color: #779058;
    color: #333;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
    padding: 0.5vw 0 0.5vw 0;
}