.procariota h2{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    color:  #779058;
}
.procariota div{
    display: flex;
    justify-content: space-between;
}
.procariota img{
   height: 40%;
   width: 30%;
}