main h1 {
    font-size: xxx-large;
    text-align: center;
    color: #779058;
    margin: 2vw 0 2vw 0;
}

.images {
    display: flex;
    margin: 0 5vw 0 8vw;
}

.images img {
    width: 20%; /* Define a largura como 50% do elemento pai */
    height: auto; /* Mantém a proporção */  
    padding: 0 5vw 0 5vw;
}

.citologia h2 {
    color: #779058;
    font-size: xx-large;
    text-align: center;
    margin: 1.5vw 0 1.5vw 0;
}

.citologia {
    padding: 20px; /* Espaçamento dentro da seção */
}

.texto {
    background-color: #779058; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    padding: 15px; /* Espaçamento interno */
    margin: 10px 0; /* Espaçamento entre os blocos */
    border-radius: 8px; /* Bordas arredondadas, opcional */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}

