body {
    text-align: center;
    justify-content: center;
    background-color: #FFF2F2;
    color: #779058;
}
h1 {

    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
img {
    width: 20%; /* Define a largura como 50% do elemento pai */
    height: auto; /* Mantém a proporção */  
    padding: 0 5vw 0 5vw;
    border-radius: 20px;
}
section.organelas div.img {
    margin: 2vw 5vw 0 8vw;
    border-bottom: 2px solid #779058; /* Adiciona uma linha */
    padding-bottom: 30px; /* Espaçamento abaixo das imagens */
    margin-bottom: 10px; /* Espaçamento abaixo do contêiner */
}

h2 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin: 2vw 0 2vw 0;
}
h3 {
    font-size: x-large;
    font-weight: bold;
    margin: 2vw 0 2vw 0;
}
h4 {
    text-align: justify;
}
p {
    margin: 2vw 24vw 2vw 24vw;
    width: 50%;
    border-bottom: 2px solid #779058; /* Adiciona uma linha */
    padding-bottom: 30px; /* Espaçamento abaixo das imagens */
    margin-bottom: 10px; /* Espaçamento abaixo do contêiner */
}

section {
    margin: 20px; /* Margem externa para o contêiner */
}

.oquesao {
    margin-bottom: 20px; /* Espaçamento entre as divs */
}

.sobre {
    display: flex; /* Permite que as divs internas sejam flexíveis */
    justify-content: space-between; /* Distribui espaço entre as divs internas */
}

.existentes, .funcoes {
    width: 48%; /* Largura das divs internas */
    padding: 15px; /* Espaçamento interno */
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #779058;
    padding: 10px;
    text-align: left;
    color: #779058;
}

table th {
    background-color: #779058;
    color: white;
}

table td {
    background-color: #f9f9f9;
}
footer {
    background-color: #779058;
    color: #333;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
    padding: 0.5vw 0 0.5vw 0;
}
