body {
    text-align: center;
    justify-content: center;
    background-color: #FFF2F2;
    color: #779058;
}
h1 {

    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
img {
    width: 20%; /* Define a largura como 50% do elemento pai */
    height: auto; /* Mantém a proporção */  
    padding: 0 5vw 0 5vw;
}
section.organelas div.img {
    margin: 2vw 5vw 0 8vw;
    border-bottom: 2px solid #779058; /* Adiciona uma linha */
    padding-bottom: 30px; /* Espaçamento abaixo das imagens */
    margin-bottom: 10px; /* Espaçamento abaixo do contêiner */
}

h3 {

    font-weight: bold;
    font-size: medium;
    text-align: center;
    margin: 0 0 2vw 0;
}

h4 {
    text-align: justify;
}

section {
    margin: 20px; /* Margem externa para o contêiner */
}

.oquesao {
    margin-bottom: 20px; /* Espaçamento entre as divs */
}

.sobre {
    display: flex; /* Permite que as divs internas sejam flexíveis */
    justify-content: space-between; /* Distribui espaço entre as divs internas */
}

.existentes, .funcoes {
    width: 48%; /* Largura das divs internas */
    padding: 15px; /* Espaçamento interno */
}

